.blogs {
    width: 120vw;
    height: auto;
    max-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.blogs_container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.section-title {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 84%;
    height: 100%;
}

.blogs_wrapper_container {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row-reverse;
}

.blogs-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 92%;
}

.blogs-wrapper-wrapper {
    position: relative;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.title-action {
    font-size: 32px;
}

.blogs-action-wrapper {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
}

.blogs-action {
    height: 100%;
    border: none;

}

/* Stylowanie poziomego paska przewijania dla WebKit przeglądarek */
::-webkit-scrollbar {
    height: 8px; /* Ustaw wysokość poziomego paska przewijania */
}

::-webkit-scrollbar-track {
    background: transparent; /* Ustaw kolor tła ścieżki przewijania */
}

::-webkit-scrollbar-thumb {
    background: rgb(207, 207, 207);
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(192, 192, 192);
    border-radius: 12px;
}