.blog {
    position: relative;
    width: 100%;
    max-width: 24vw;
    margin: 2% 4%;
    z-index: 2;
    flex-shrink: 0;
  }

.blog_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: all 500ms ease;
}

.author-avatar {
    width: 12%;
    border-radius: 20%;
    margin-right: 2%;
}

.date-wrapper {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.blog_title-wrapper {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    margin-bottom: 4%;
    gap: 2%;
}

.blog_title {
    font-size: 38px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-wrapper {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: start;
    align-items: start;
    margin-bottom: 5%;
}

.blog_description {
    font-size: 2rem;
    font-weight: 800;
}

.blog_lower-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_lower-wrapper:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 120%;
    height: 2px;
    left: 0%;
    background: rgb(27,27,27);
background: radial-gradient(circle, rgba(27,27,27,1) 0%, rgba(40,40,40,0) 100%);
transition: all 300ms ease;
}

.blog_author-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.blog_date-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}