@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
.blog {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 4% 2%;
    z-index: 2;
    flex-shrink: 0;
  }

.blog_container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: all 500ms ease;
}

.author-avatar {
    width: 12%;
    border-radius: 20%;
    margin-right: 2%;
}

.date-wrapper {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.blog_title-wrapper {
    display: flex;
    align-items: end;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 8%;
    gap: 2%;
}

.blog_title {
    font-size: 38px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-wrapper {
    width: 80%;
    height: 100%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_description {
    font-size: 2rem;
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    white-space: pre-line;
    font-weight: 800;
}

.blog_lower-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_lower-wrapper:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 120%;
    height: 2px;
    left: 0%;
    background: linear-gradient(
        90deg,
        rgba(40, 40, 40, 1) 40%,
        rgba(40, 40, 40, 0) 100%
      );
      border-radius: 4px;
transition: all 300ms ease;
}

.blog_author-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.blog_date-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}