.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    z-index: 100;
    opacity: 1;
}

.backdrop:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: url("../../Images/Noise_Tile.webp");
    background-size: 30%;
    opacity: 0.18;
    z-index: -1;
}

.modal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 100%;
    height: 100%;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.settings-input-description {
    width: 100% !important;
}

.settings-input {
    width: 60%;
    min-height: 10%;
    max-height: 30%;
    display: flex;
    justify-content: center;
    align-items: end;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    transition: all 50ms ease;
    z-index: 500;
    outline: none;      /* Usuwa outline */
    resize: none;
}

.settings-input { /* Styl dla tekstu wprowadzanego przez użytkownika */
    transition: all 300ms ease;
    color: rgb(100, 100, 100);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.settings-input:focus { /* Styl dla tekstu wprowadzanego przez użytkownika */
    transition: all 300ms ease;
    color: rgb(100, 100, 100);
    letter-spacing: 3px; /* Zwiększa odstęp między literami podczas wpisywania */
    font-size: 24px;
    font-weight: 700;
    opacity: 0.9;
    text-align: center;
}

.input-title {
    letter-spacing: 2px;
}