.forum {
  width: 100vw;
  height: auto;
  min-height: 100vh;
}

.forum_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 2%;
}

.forum_content {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.addpost_container {
  position: relative;
  width: 28vw;
  height: auto;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  margin-bottom: 10%;
}

.bottom_gradient {
  position: relative;
}

.bottom_gradient:after {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  background: rgb(40,40,40);
  background: linear-gradient(90deg, rgba(40,40,40,1) 50%, rgba(40,40,40,0) 100%);
  width: 80%;
  height: 2px;
  transition: all 300ms ease;
}

.addpost_container:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  background: rgb(27, 27, 27);
  background: linear-gradient(
    rgba(27, 27, 27, 1) 30%,
    rgba(40, 40, 40, 0) 100%
  );
  width: 2px;
  height: 120%;
  transition: all 300ms ease;
}

.forum_addpost_title {
  background-color: transparent;
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
  padding: 0 1%;
}

.forum_addpost_description {
  margin-top: 1%;
}

.addpost_title-wrapper {
  width: 100%;
}

.addpost_action {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.forum_addpost_button {
  border: none;
  margin: 1% 1%;
}

.forum_addpost_button-text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: -25%;
  background: rgb(40,40,40);
background: radial-gradient(circle, rgba(40,40,40,1) 16%, rgba(40,40,40,0) 100%);
  width: 150%;
  height: 2px;
}

.forum_addpost_button-text {
  position: relative;
  font-size: 18px;
}

.forum_addpost_button-text:hover {
  letter-spacing: 2px;
  word-break: 4px;
}

.forum_addpost_title {
  font-size: 20px; /* Ustawia wielkość czcionki */
  font-weight: 800;
  color: #333333; /* Ustawia kolor czcionki */
  resize: none;
  border: none;
  background-color: transparent;
  width: 100%;
}

.forum_addpost_title:focus {
  outline: none;
}

.forum_addpost_title:focus::placeholder{
  letter-spacing: 3px;
}

.forum_addpost_title::placeholder {
  /* Style dla tekstu zastępczego */
  color: #00000081; /* Ustawia kolor tekstu zastępczego */
  font-weight: 800;
  transition: all 300ms ease;
}

.forum_addpost_title:disabled {
  /* Style dla zablokowanego inputa */
  background-color: #e9ecef; /* Zmienia tło dla zablokowanego inputa */
  color: #ced4da; /* Zmienia kolor czcionki dla zablokowanego inputa */
}
