.forum {
  width: 100vw;
  height: auto;
  min-height: 100vh;
}

.forum_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 2%;
}

.forum_content {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.addpost_container {
  position: relative;
  width: 36vw;
  height: auto;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  margin: 6% 250px 5% 0%;
}

.bottom_gradient {
  position: relative;
}

.bottom_gradient:after {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  background: rgb(40,40,40);
  background: linear-gradient(90deg, rgba(40,40,40,1) 50%, rgba(40,40,40,0) 100%);
  width: 80%;
  height: 2px;
  transition: all 300ms ease;
}

.addpost_container:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  background: rgb(27, 27, 27);
  background: linear-gradient(
    rgba(27, 27, 27, 1) 30%,
    rgba(40, 40, 40, 0) 100%
  );
  width: 2px;
  height: 120%;
  transition: all 300ms ease;
}

.forum_addpost_title {
  background-color: transparent;
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
  padding: 0 1%;
}

.forum_addpost_description {
  margin-top: 1%;
}

.addpost_title-wrapper {
  width: 100%;
  height: 100%;
}

.addpost_action {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.forum_addpost_button {
  border: none;
  margin: 1% 1%;
  width: 20%;
  position: relative;
}

.forum_addpost_button_gradient {
  content: "";
  position: absolute;
  top: 100%;
  left: -25%;
  background: rgb(40,40,40);
background: radial-gradient(circle, rgba(40,40,40,1) 16%, rgba(40,40,40,0) 100%);
  width: 150%;
  height: 2px;
}

.forum_addpost_button-text {
  position: relative;
  font-size: 18px;
}

.forum_addpost_button-text:hover {
  letter-spacing: 2px;
  word-break: 4px;
}

.forum_addpost_title {
  font-size: 2rem; /* Ustawia wielkość czcionki */
  font-weight: 900;
  resize: none;
  border: none;
  background-color: transparent;
  width: 100%;
}

.forum_addpost_description {
  font-size: 24px; /* Ustawia wielkość czcionki */
  font-weight: 800;
  color: #333333; /* Ustawia kolor czcionki */
  resize: none;
  border: none;
  background-color: transparent;
  width: 100%;
}

.forum_addpost_title:focus {
  outline: none;
}

.forum_addpost_title:focus::placeholder{
  letter-spacing: 3px;
}

.forum_addpost_title::placeholder {
  /* Style dla tekstu zastępczego */
  color: #00000081; /* Ustawia kolor tekstu zastępczego */
  font-weight: 800;
  transition: all 300ms ease;
}

.forum_addpost_title:disabled {
  /* Style dla zablokowanego inputa */
  background-color: #e9ecef; /* Zmienia tło dla zablokowanego inputa */
  color: #ced4da; /* Zmienia kolor czcionki dla zablokowanego inputa */
}

@media only screen and (max-width: 768px) {
  .addpost_container {
    width: 90vw; /* Adjust width for smaller devices */
    margin: 6% 5% 5% 5%; /* Adjust margins */
  }

  .forum_addpost_title, .forum_addpost_description {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .forum_addpost_button {
    width: 40%; /* Adjust button width */
  }

  .post_action-text {
    font-size: 16px; /* Adjust font size within buttons */
  }
}

@media only screen and (max-width: 480px) {
  .addpost_container {
    width: 95vw; /* Further adjust width for very small devices */
  }

  .forum_addpost_button {
    width: 60%; /* Adjust button width for smaller devices */
  }

  .post {
    margin-left: 10px; /* Adjust margin for the posts */
    margin-right: 10px;
    width: calc(100vw - 20px); /* Ensure posts do not overflow screen width */
  }

  .post_author-wrapper, .post_action_container, .post_date_container {
    justify-content: center; /* Center content for smaller screens */
  }
}

/* POST.css RESPONSIVENESS */

@media only screen and (max-width: 768px) {
  .post {
    width: 80vw; /* Adjust post width for tablet devices */
  }

  .author_img {
    width: 36px; /* Adjust avatar size */
  }

  .author_name, .post_title, .post_description {
    font-size: 1.45rem; /* Adjust font size for readability */
  }

  .post_title {
    font-size: 1.6rem !important; /* Adjust action text font size */
  }
}

@media only screen and (max-width: 480px) {
  .post {
    width: 90vw !important;
    margin: 20% 0 20% 0 !important;
  }

  .post_author-wrapper-wrapper, .post_title-wrapper, .post_description-wrapper {
    text-align: center; /* Ensure text is centered */
  }
}
