.post {
  position: relative;
  width: 40vw;
  min-height: 5vh;
  height: auto;
}

.post_container {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 0.5%;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.word {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  margin: 0 -2px;
}

.post_line {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  background: rgb(27, 27, 27);
  background: linear-gradient(
    rgba(27, 27, 27, 1) 30%,
    rgba(40, 40, 40, 0) 100%
  );
  width: 2px;
  height: 100%;
  transition: all 300ms ease;
}

.post_author-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}

.post_author-wrapper-wrapper {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
}

.author_img {
  width: 42px;
  border-radius: 12px;
  
}

.author_name {
  font-weight: 900;
  font-size: 18px;
  height: auto;
  margin-bottom: 2%;
}

.post_title-wrapper {
  position: relative;
  padding: 5px;
}

.post_title {
  font-size: 32px;
}

.post_description-wrapper {
  position: relative;
  padding: 5px;
  width: 100%;
}

.post_action_container {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 5px 0 0 0;

}

.post_date_container {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0 5px;
}

.post_date-text {
  font-size: 14px;
  color: #00000031;
}

.post_action {
  border: none;
  margin: 0 3%;
}

.post_action-text {
  position: relative;
  overflow: hidden;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: start;
}

.reply_addPost_title-wrapper:hover .reply_addPost_title-wrapper-text {
  letter-spacing: 2px;
}

.reply_addPost_title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
}

.post_action-text:hover {
  letter-spacing: 2px;
}

.post_like_num-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: 'relative';
  height: 24px;
  width: 28px;
}

.switch, .switch2 {
}

.post_bottom_gradient {
  content: "";
  position: absolute;
  top: 100%;
  left: -0.5%;
  background: rgb(40, 40, 40);
  background: linear-gradient(
    90deg,
    rgba(40, 40, 40, 1) 50%,
    rgba(40, 40, 40, 0) 100%
  );
  width: 100%;
  height: 2px;
  transition: all 300ms ease;
}

.action_line {
  position: relative;
  margin-bottom: 1%;
}

.action_line:after {
  content: "";
  position: absolute;
  top: 0%;
  left: -25%;
  background: rgb(40,40,40);
background: radial-gradient(circle, #72726f 16%, #babab500 100%);
  width: 150%;
  height: 2px;
  transition: all 300ms ease;
}

/* REPLIES */

.replies_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2% 1% 2% 1%;
}

.replies_title-wrapper {
  margin-bottom: 2%;
}

.replies-title {
  font-size: 2rem;
  font-weight: 900;
}

.reply_addPost {
  display: flex;
  justify-content: end;
  align-items: end;
  height: auto;
  overflow-y: hidden;
  margin-bottom: 6%;
}

.reply_addPost-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.reply_addPost_input-wrapper {
  width: 80%;
  display: flex;
  justify-content: end;
  text-align: end;
}

.reply_addP {
  font-size: 1rem;
  width: auto;
  background-color: transparent;
  border: none;
  font-weight: 900;
  height: 24px;
  resize: none;
}

.reply_addP:focus {
  cursor: pointer;
  outline: none;
}

.reply_addP::placeholder {
  color: grey;
  font-weight: 800;
}

.replies_container {
  overflow: hidden;
  border-radius: 12px;
}

.small_button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.small_button:hover {

}

.small_text {
  color: #5a5a58;
  letter-spacing: 2px;
  width: 100%;
}

.small_text:hover {
  letter-spacing: 4px;
}

.gg-heart,
.gg-heart::after {
    border: 2px solid;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 10px;
    height: 8px;
    border-bottom: 0;
    margin-left: 4px;
  }
  .gg-heart {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 25%;
    left: 0;
    transform:
        translate(
            calc(-6px / 2 * var(--ggs,1))
        )
        rotate(-45deg)
        scale(var(--ggs,1));
    display: block
}
.gg-heart::after,
.gg-heart::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-heart::after {
    right: -9px;
    transform: rotate(90deg);
    top: 5px
}
.gg-heart::before {
    width: 11px;
    height: 11px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    left: -2px;
    top: 3px
}