.Reply {
    margin: 2% 0 2% 0%;
}

.reply_name-wrapper {
    display: inline;
    justify-content: start;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
}

.letters {
    display: inline-block;
}