.navbar {
    position: relative;
    width: 100%;
    height: 16vh;
}
.navbar_container {
    position: relative;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0 auto;
    padding: 12px 20px;
}

.navbar:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    left: 10%;
    top: 100%;
    background: rgb(27,27,27);
background: radial-gradient(circle, rgba(27,27,27,1) 0%, rgba(40,40,40,0) 100%);
transition: all 300ms ease;
}

.navbar:hover:after {
    width: 100%;
    left: 0%;
}

.Logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_navbar {
    width: 65%;
}

.Link-wrapper {
    background: none;
    border: none;
    font-size: 30px;
    font-weight: 400;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b1b1b;
    text-decoration: none;
    font-weight: 900;
    transition: all 300ms ease;
}

.Link-wrapper:hover {
    transform: scale(1.1);
    letter-spacing: 2px;
    cursor: pointer;
}

/* Default styles for mobile */
.navbar {
    position: relative;
    width: 100%;
    height: auto; /* Adjust height for mobile */
    display: flex;
    justify-content: center;
    align-items: end;
}

.navbar_container {
    display: flex;
    width: 100%; /* Full width on mobile */
    justify-content: center; /* Center logo */
    align-items: end;
    margin: 0 auto;
    padding: 8px; /* Adjust padding for smaller screens */
}

.logo_navbar {
    width: 60%; /* Adjust logo size for mobile */
}

/* Hide links by default for mobile */
.Link-wrapper {
    display: none;
}

/* Tablet */
@media (min-width: 768px) {
    .navbar {
        height: 12vh;
    }

    .navbar_container {
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        padding: 10px 20px;
    }

    .Link-wrapper, .logo_navbar {
        display: inline-flex; /* Show links for tablets and larger */
    }

    .logo_navbar {
        width: 45%;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .navbar_container {
        width: 50%; /* More space on larger screens */
    }
}
