.sidebar {
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24vw;
    height: 100vh;
    background-color: #f1f0ea2a;
    z-index: 10000;
}

.sidebar_container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.account-wrapper {

}

.avatar-wrapper {
    margin-bottom: 10%;
}

.avatar_sidebar {
    width: 90%;
    border-radius: 12px;
    margin: 12px 12px;
}


.name {
    font-size: 20px;
    color: #f1f0ea;
    font-weight: 900;
}

.desc {
    font-size: 14px;
    margin-bottom: 10%;
    font-weight: 800;
}

.where {
    font-size: 12px !important;
}

.link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.mobileArrow {
    width: 100%;
    background-color: black;
    height: 4px;
    top: 0;
    left: 0;
    border-radius: 2px;
}


/* LOGIN WRAPPER */

.login-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    flex-direction: column;
}

.login_btn {
    background-color: transparent;
    border: none;
    color: #f1f0ea;
    font-weight: 900;
    padding: 10% 0;
    cursor: pointer;
}

.login_btn:hover {
    letter-spacing: 2px;
}

.arrow {
    content: "";
    position: absolute;
    left: 116%;
    width: 24px;
    height: 4px;
    z-index: 1000;
    background-color: black;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all 300ms ease;
}

.arrow2 {
}

.stripe {
    content: "";
    position: absolute;
    top: 0%;
    left: 100%;
    background-color: #1B1B1B;
    width: 2px;
    height: 100%;
    background: rgb(27,27,27);
    background: radial-gradient(circle, rgba(27,27,27,1) 0%, rgba(40,40,40,0) 100%);
    transition: all 300ms ease;
}

.sidebar:hover .stripe {
    height: 200%;
    top: -50%;
}

.id {
    font-size: 12px;
    color: #b9b9b9;
    font-weight: 800;
    margin: 0% 0 4% 0;
}

.notifications_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.notif-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notifs_title {
    font-size: 36px !important;
    color: white;
}

.notifs_action {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.notif_btn {
    border: none;
    background-color: transparent;
    border: none;
    color: #f1f0ea;
    font-weight: 900;
    padding: 4% 0;
    font-size: 24px;
    cursor: pointer;
}

.replyNotif {
    position: relative;
}

.author-wrapper {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 4px 0 6px 0;
    gap: 12px;
}

.dopowiedzenie {
    font-size: 14px !important;
    color: #ffffffb0 !important;
}

.notif_reply_text {
    margin-top: 24px;
    color: #ffffffB0;
    font-size: 16px !important;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.search_input {
    width: 50%;
    height: 24px;
    border: none;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_input::placeholder {
    color: rgba(255, 255, 255, 0.400);
    font-weight: 700;
}