.settings {
    width: 100vw;
}

.settings_container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2% 2%;
}

.account-wrapper-settings {
    width: 70vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    margin: 2% 2%;
}

.avatar-wrapper-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.description-settings {
    font-family: "Forum", serif;
    font-weight: 10000 !important;
    font-style: normal;
}

.desc-wrapper-account-settings {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 2% 0;
}

.links-wrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    margin-top: 4%;
}

.title-settings-wrapper {
    position: relative;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.title-settings {
    position: relative;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-settings {
    font-weight: 900;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-settings-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.where {
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1px;
}

.where:hover {
    letter-spacing: 4px;
    transform: scale(1.2);
    cursor: pointer;
}

.helper-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30%;
    margin: 0 2%;
}

.edit {
    letter-spacing: 6px;
    font-weight: 900;
}

.settings_action-wrapper {
    letter-spacing: 10px;
    cursor: pointer;
    z-index: 50;
}

.settings_id {
    font-weight: 900;
    font-size: 12px;
    margin: 0px 0 12px 0;
    color: #0000009d;

}


.edit:active {
    letter-spacing: 1px;
}

span {
    content: "";
}

.posts-wrapper-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}